<div class = "col-md-6 offset-md-3">
    <h3>Add Post</h3>
    <form (ngSubmit) ="onSubmit()">
    
     <div class="form-group">
        <label>Select a category</label>
        <select  class="form-control">
          <option>None</option>
          <option value="Recommandation"> Recommandation</option>
          <option value="Note">Note</option>
          <option value="Avis">Avis</option>
        </select>
         <label>Contenue</label>
         <input type="text" class="form-control" id = "label" [(ngModel)] = "publication.contenue" name="label">
         <br>
         <br>
         <input class=" btn btn-success" type="submit" value="Add"> 
     </div>
    </form>
    </div>