<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <h2>ClassRooms</h2>
     
      </div>
      <div><input class="form-control" placeholder="Search" type="text" [(ngModel)]="SearchVal" (keyup)="Search()"></div>
    </div>
</div>


<div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
        <div class="card border-0">
         <button class="btn btn-danger" (click)="open(content)">
             add classroom
         </button>
        
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Label</th>
                      <th scope="col">Actions</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let class of classList">
                    
                      <th scope="row">
                        {{ class.idClasse }}
                      <td>
                       {{ class.label }}
                      </td>
                      <td>
                        <button class="btn btn-info" (click)='open(content)'>edit</button>
                        <button class="btn btn-danger" (click)='deleteClass(class.idClasse)'>delete</button>

                      </td>
                     
                    
                     
                    </tr>
                    <div><tr> <td> <button type="button" href="javascript:void(0)" class="btn btn-danger btn-round" (click)="getClasseByL()">ASC</button></td>
                      <td> <button type="button" href="javascript:void(0)" class="btn btn-info" (click)="getClasseDesc()">DESC</button></td></tr></div>
                    
                  </tbody>
                </table>
              </div>
        </div>
      </div>

      
<div>
  <ng-template #content let-modal>
    <div class="modal-body">
      <app-update-class
      (submit)="create($event)"
      ></app-update-class>
    </div>
  </ng-template>
</div>
   
<div>
  <ng-template #content let-modal>
    <div class="modal-body">
      <app-update-class
      (submit)="create1($Classe)"
      ></app-update-class>
    </div>
  </ng-template>
</div>

    </div>
  </div>